<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="apple-touch-icon" sizes="76x76" href="../assets/img/logos/main-logo.png">
  <link rel="icon" type="image/png" href="../assets/img/logos/main-logo.png">
  <title>
    NFT Click | Dashboard
  </title>
  <!--     Fonts and icons     -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
  <!-- Nucleo Icons -->
  <link href="../assets/css/nucleo-icons.css" rel="stylesheet" />
  <link href="../assets/css/nucleo-svg.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" integrity="sha512-..." crossorigin="anonymous" referrerpolicy="no-referrer" />

  <!-- Font Awesome Icons -->
  <link href="../assets/css/nucleo-svg.css" rel="stylesheet" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <!-- JavaScript Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  <!-- CSS Files -->
  <link rel="stylesheet" href="assets/css/custom.css">
  <link id="pagestyle" href="../assets/css/soft-ui-dashboard.css?v=1.0.3" rel="stylesheet" />
</head>

<body class="g-sidenav-show  bg-gray-100">
  <main class="main-content position-relative max-height-vh-100 mt-1 border-radius-lg ">
    <!-- Navbar -->
    <nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl" id="navbarBlur" navbar-scroll="true">
      <div class="py-1">
        <nav class="d-flex justify-content-between align-items-center" aria-label="breadcrumb">
          <div>
            <img class="app-logo" src="assets/img/logos/logo.png" alt="Logo">
            <span class="font-weight-bolder mb-0 text-dark">NFT Click</span>
          </div>
            <span class="font-weight-bolder mb-0 text-success text-lg" data-bs-toggle="modal" data-bs-target="#exampleModal">
              <i class="fa-solid fa-headset"></i>
            </span>

          <!-- Modal -->
          <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="exampleModalLabel">Contact Us</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <div class="container">
                    <div class="row">
                      <div class="col-12 text-center">
                        <h5>Contact Us</h5>
                        <p>For any queries, please reach out to us at:</p>
                        <p>
                          <a href="https://t.me/NFTcustomersupport01" class="btn btn-primary" target="_blank" rel="noopener noreferrer">Chat with us</a>
                        </p>
                        <hr>
                        <h5>Join our Community</h5>
                        <p>Join our community on Telegram:</p>
                        <p>
                          <a href="https://t.me/+DPztS_nMtxtiMzY1" class="btn btn-primary" target="_blank" rel="noopener noreferrer">Join Telegram</a>
                        </p>
                    </div>
                  </div>
                </div>
              </div>
        </nav>
        
      </div>
    </nav>
    <!-- End Navbar -->

    <!-- Main Content -->
    <div class="container-fluid py-4">
      <hr class="pt-2 text-danger">
      <br>

      <!-- Banner -->
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="5"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="6"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="7"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="8"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="d-block w-100" src="../assets/img/carousal/slide_1.jpg" alt="NFT IMAGE">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="../assets/img/carousal/slide_2.jpg" alt="NFT IMAGE">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="../assets/img/carousal/slide_3.jpg" alt="NFT IMAGE">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="../assets/img/carousal/slide_4.jpg" alt="NFT IMAGE">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="../assets/img/carousal/slide_5.jpg" alt="NFT IMAGE">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="../assets/img/carousal/slide_6.jpg" alt="NFT IMAGE">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="../assets/img/carousal/slide_7.jpg" alt="NFT IMAGE">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="../assets/img/carousal/slide_8.jpg" alt="NFT IMAGE">
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
      <br>
      <hr class="pt-2 text-danger">

      <!-- Bonanza Offers -->
      <br>
      <div class="container-fluid ">
        <h4>Dashboard</h4>
      </div>
      <br>
      <div class="card card-body blur shadow-blur mx-2 overflow-hidden">
        <div class="row gx-4">
          <div class="col">
            <p id="today" class="mb-0 font-weight-bold text-dark text-center">
               <%= user.earnings.today %>$
            </p>
            <p class="mb-1 text-dark font-weight-bold text-center">
              Today's earning
            </p>
          </div>
          <div class="col my-auto total-earnings">
            <div class="h-100">
              <p id="available" class="mb-0 font-weight-bold text-dark text-center">
                 <%= user.earnings.available %>$
              </p>
              <p class="mb-1 text-dark font-weight-bold text-center">
                Available balance
              </p>
            </div>
          </div>
        </div>
      </div>
      
      <br>
              <div>
                <img src="../assets/img/banners/nft_banner.jpg" class="img-fluid curved-banner w-100" alt="">
              </div>
      <br>
      <div class="card">
        <div class="card-body p-2 ps-3">
          <div class="row justify-content-center">
            <div class="col-auto my-auto">
              <div class="h-100">
                <h5 class="mb-0 text-dark  text-center mb-3">Upload NFT</h5>
                <p class="mb-0 text-sm text-center mb-5">Upload your NFT images here</p>
                <div id="alert"></div>
                  <form id="uploadForm" action="/upload-multiple" method="post" enctype="multipart/form-data">
                    <div class="mb-3 text-center">
                      <label for="upload" class="btn text-center btn-primary btn-lg" id="upload-label">
                        Choose Images
                      </label>
                      <input type="file" id="upload" name="images" multiple accept="image/*" hidden>
                      <br>
                      <button class="btn btn-sm btn-dark text-center" type="submit">Upload NFT</button>
                      <p class="mb-0 text-sm text-center mb-5">Upto 5 images allowed at a time.</p>
                    </div>
                  </form>
                
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      </div>

  </main>
  <div class="fixed-plugin">
    <a class="fixed-plugin-button-left text-primary position-fixed px-3 py-2" href="/">
      <i class="fa fa-home py-2"> </i>
    </a>

    <a class="fixed-plugin-button-center text-dark position-fixed px-3 py-2" href="/package">
      <i class="fa-solid fa-money-bill-trend-up py-2"></i>
    </a>
    <a class="fixed-plugin-button-right text-dark position-fixed px-3 py-2" href="/profile">
      <i class="fa fa-user py-2"> </i>
    </a>

  </div>
  <!--   Core JS Files   -->
  <script src="../assets/js/core/popper.min.js"></script>
  <script src="../assets/js/core/bootstrap.min.js"></script>
  <script src="../assets/js/plugins/perfect-scrollbar.min.js"></script>
  <script src="../assets/js/plugins/smooth-scrollbar.min.js"></script>
  <script src="../assets/js/plugins/chartjs.min.js"></script>
  <script>
    var win = navigator.platform.indexOf('Win') > -1;
    if (win && document.querySelector('#sidenav-scrollbar')) {
      var options = {
        damping: '0.5'
      }
      Scrollbar.init(document.querySelector('#sidenav-scrollbar'), options);
    }
  </script>
  <script>
    document.getElementById('uploadForm').addEventListener('submit', async function(event) {
      event.preventDefault(); // prevent default form submit
    
      const form = event.target;
      const formData = new FormData(form); // collect form data including files
    
      try {
        const response = await fetch(form.action, {
          method: 'POST',
          body: formData
        });
    
        if (response.ok) {
          const result = await response.json();
          document.getElementById('alert').innerHTML = `
            
            <div class="alert alert-`+result.alertType+` alert-dismissible fade show" role="alert">
              <span> `+result.message+` </span>
              <button type="button" class="btn-close text-dark" data-bs-dismiss="alert" aria-label="Close">&times</button>
            </div>`
          document.getElementById('today').innerHTML = result.earnings.today + "$";
          document.getElementById('available').innerHTML = result.earnings.available + "$";
          document.getElementById('upload-label').textContent = 'Choose Images';  
  
                var div = document.getElementById("alert");
                div.style.opacity = "1";
                div.style.display = "block";
        } else {
          const errorText = await response.json();
          document.getElementById('alert').innerHTML = `
            
            <div class="alert alert-`+errorText.alertType+` alert-dismissible fade show" role="alert">
              <span> `+errorText.message+` </span>
              <button type="button" class="btn-close text-dark" data-bs-dismiss="alert" aria-label="Close">&times</button>
            </div>`
  
                var div = document.getElementById("alert");
                div.style.opacity = "1";
                div.style.display = "block";
        }
      } catch (err) {
        console.error('Error:', err);
        document.getElementById('alert').innerHTML = `
            
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
              <span> Error uploading NFT, try again in sometime. </span>
              <button type="button" class="btn-close text-dark" data-bs-dismiss="alert" aria-label="Close">&times</button>
            </div>`
  
                var div = document.getElementById("alert");
                div.style.opacity = "1";
                div.style.display = "block";
      }
    });
    </script>
    
  <script>
    document.addEventListener('DOMContentLoaded', function () {
      const fileInput = document.getElementById('upload');
      const uploadLabel = document.getElementById('upload-label');
  
      fileInput.addEventListener('change', () => {
        const fileCount = fileInput.files.length;
  
        if (fileCount > 0) {
          uploadLabel.textContent = `${fileCount} file${fileCount > 1 ? 's' : ''} selected`;
        } else {
          uploadLabel.textContent = 'Choose Images';
        }
      });
    });
  </script>
  <!-- Github buttons -->
  <script async defer src="https://buttons.github.io/buttons.js"></script>
  <!-- Control Center for Soft Dashboard: parallax effects, scripts for the example pages etc -->
  <script src="../assets/js/soft-ui-dashboard.min.js?v=1.0.3"></script>
</body>

</html>
